header {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--dark-soft);
}

.top-header {
    background: var(--redColor);
    padding: 13px 10px;
    margin-bottom: 16px;
}

.top-header p {
    margin: 0;
    color: var(--white);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-left > a.logo {
    max-width: 144px;
}

.header-left nav ul {
    display: flex; 
    flex-wrap: wrap;
}

.header-left nav ul li a {
    padding: 0.75rem 1rem;
    font-weight: 500;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.header-left nav ul li a:hover{
    opacity: .8;
}
.header-left nav ul li a.active {
    color: var(--white);
}

.header-right a.theme-btn.grayBtn {
    margin-left: auto;
    margin-right: 0;
}
.header-right button.forMenu {
    margin-left: auto;
    padding: 0;
    line-height: 0;
    transition: .2s;
}

.header-right button.forMenu svg {
    width: 40px;
    height: 40px;
}

.header-right button.forMenu:hover {
    color: #fff;
}
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: var(--dark);
    padding: 20px;
    left: -100%;
    transition: .3s;
}

aside > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

aside a.logo {
    max-width: 220px;
}

aside ul li a {
    display: block;
    margin-bottom: 10px;
    transition: .2s;
}

aside ul li a:hover {
    opacity: .8;
}

aside ul li a.active {
    color: var(--white);
}

aside > div button {
    font-family: 'circular';
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--redColor);
    border-radius: 50%;
    color: var(--white);
} 

aside > div button svg {
    width: 25px;
    height: 25px;
}
aside.shownow {
    left: 0;
}