 /*   Theme default css */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
  --white: #fff;
  --dark: #131313;
  --gray: #1e1e1e;
  --dark-soft: #1e1e1e;
  --bodyColor: #a5a5a5;
  --headingColor: var(--white);
  --redColor: #ea4e43;
  --themeColor: #d8fc6c;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  color: var(--bodyColor);
  font-size: 16px; 
  line-height: 24px;
  background-color: var(--dark);
}

  
button {
  cursor: pointer; 
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; 
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; 
}

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  color: var(--headingColor);
  margin-top: 0px;
  font-weight: 600;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 3.7rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem; 
  line-height: 1.3;
 }

h3 {
  font-size: 1.6rem; 
  line-height: 1.4;
}

h4 {
  font-size: 22px; }

h5 {    
  font-size: 1.2rem; 
  line-height: 1.4;
}

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 img{
  max-width: 100%;
 }
 a{
  text-decoration: none;
  color: inherit;
 }
 button{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  line-height: auto;
 }
.container{
  max-width: 1300px;
} 







 
/* default-css END 
================================== */
 
 
/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  right: 0;
  transition: .3s;
  margin-right: -400px;
  padding: 30px;
  z-index: 999;
}
.siteBar{
  margin-right: 0; 
}
.menu_overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}
.menu_overlay.show{
  opacity: .5;
  visibility: visible;
}
.mobile-menu a.logo {
  display: block;
  max-width: 150px;
  margin-bottom: 50px;
}



.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu nav ul li a:hover { 
  color: #ff4900;
}
  
 
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: #ff4900;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}




/* Header-area END && Hero-area START */




/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-left nav, .header-right .theme-btn{
  display: none;
}
 
}

 
/* small screen :320px. */
@media (max-width: 767px) {
  .header-left nav, .header-right .theme-btn{
    display: none;
  }
  h1 {
    font-size: 2.5rem; 
}
h2 {
  font-size: 1.8rem; 
}
.hero-wrap p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.hero-wrap {
  padding-top: 4rem;
}
div#whatisinside {
  padding-top: 0;
}
.default_item{
  padding: 2rem;
}
div#whatisinside {
  padding-top: 0;
}

.pricing-intros {
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.pricing-intros > img {
  margin: 0;
}

.default_item.pricings {
  margin-bottom: 1rem;
}

.default_item.only_for_content {
  padding: 2rem !important;
}

.accordion-item button.accordion-button svg, .accordion-item button.accordion-button span {
  display: none;
}
form.newsletterform > div {
  flex-wrap: wrap;
}

form.newsletterform > div button.theme-btn {
  width: 100%;
}
.info-steps-wrap {
  padding-top: 2.5rem !important;
  padding-bottom: 3rem !important;
}

.info-steps-wrap .default_item {
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.info-steps-wrap .default_item a.theme-btn.grayBtn {
  width: 100%;
}

.mainTestimonial.testimonailOfHome {
  padding-top: 0rem;
}

.testimonailOfHome .section-title {
  margin-bottom: 1rem;
}

.info-steps-wrap.resources .section-title {
  padding-bottom: 3rem;
}

footer {
  padding: 2.5rem 0 !important;
}

.footer-form {
  padding-bottom: 2.5rem !important;
}

.footer-bottom {
  flex-direction: column-reverse;
  padding-top: 2.5rem ! IMPORTANT;
  flex-wrap: wrap;
  justify-content: start ! IMPORTANT;
  align-items: flex-start !important;
}



.why-details-wrap {
  padding-top: 0;
}

.feature_item {
  margin-bottom: .75rem;
}

.accordion {
  margin-top: 3rem;
}

.steps-wrap {
  padding-bottom: 0;
}

.testimonial-wrap {
  padding-left: 0;
  padding-right: 0;
}

.stores-wrap {
  padding: 0;
}
.steps-wrap .section-title { 
  max-width: 800px;
  margin: auto;
  margin-bottom: 3rem;
}
.mainTestimonial {
  padding: 0;
}

.stores-wrap .section-title {
  margin-bottom: 3rem;
}




}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}








